= render 'admin/metrics/tabs'

.col-md-4
  %h1 right now:
  = pie_chart StreamMetric.where("created_at >= ?" , 1.minute.ago).where.not(name: StreamMetric::AGGREGATE_KEY).group(:name).average(:connection_count)

.col-md-8
  %h1 today:
  = line_chart StreamMetric.where("created_at >=?", Date.today.beginning_of_day).group(:name).group_by_hour_of_day(:created_at).average(:connection_count), ytitle: '# listeners', xtitle: 'hr of day'

%h1 week over week growth:
= line_chart StreamMetric.group(:name).group_by_week(:created_at).average(:connection_count)
