<ul class="nav nav-sidebar">
<li><a href="/admin">Overview<span class="sr-only">(current)</span></a></li>
%li
  = link_to 'Social Media', admin_socialmedia_path
%li
  = link_to 'Background Jobs', sidekiq_web_path, target: '_blank'
</ul>
</div>
