<h1 class="page-header">Active Listeners</h1>

%table.table
  %tr
    %th.span1 name
    %th.span1 active listeners 
  %tr
    %td Total
    %td= @info.current_count
  - @info.streams.each do |s|
    %tr
      %td= s.name
      %td= s.current_count
