%article.blog.blog-archive.mb50
  .col-xs-12.col-sm-12.col-md-8.col-md-offset-2.col-lg-8.col-md-offset-2
    %ol.list-unstyled
      - @news_items.each do |item|
        %li
          %h1= item.title
          .article-meta.media.color-grey-50
            .media-body
              %p.m0.media-heading
                %time= item.created_at.strftime("%e %B %Y")
          %p= truncate_html item.body, length: 400
          %a{:href => "#"} Read more &#8594;
