.container-fluid
  .row
    .col-xs-12.col-sm-12.col-md-6.col-lg-6.mt20
      .panel.panel-default
        .panel-body
          Welcome to the TTRN/OJO Operations site. Have a look at the menu on
          the left. If you need assistance, send an email to brian:
          = mail_to 'brian@ttrn.org'
