%ul.nav.nav-tabs
  %li{ class: current_page?(admin_schedule_path) && 'active' }
    = link_to 'Calendar', admin_schedule_path
  %li{ class: current_page?(admin_schedule_list_path) && 'active' }
    = link_to 'List', admin_schedule_list_path
  %li{ class: current_page?(admin_schedule_new_path) && 'active' }
    = link_to 'New', admin_schedule_new_path
