= render 'admin/schedules/tabs'

%table.table.table-striped
  %tr
    %th.span1 name
    %th.span1 start
    %th.span1 recurrences
  - Event.all.each do |e|
    %tr
      %td= e.name
      %td= time_tag e.schedule.start_time
      %td= e.schedule
